/** Footer Index **/

footer{
    @include flex(flex, center, center);
    .pie{
        width: 30px;
        height: 28px;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        background-color: $color-general;
        border-radius: 20px;
        transition: 0.5s;
        z-index: 1;
        &:hover{
            background-color: #212529;
            color: $color-general;
            svg{
                color: $color-general;
            }
        }
        svg{
            color: #212529;
        }
    }
}

/** Footer Demas HTML **/

.pie-e{
    width: 28px;
    height: 26px;
    background-color: $color-general;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    transition: 0.5s;
    z-index: 1;
    &:hover{
        background-color: #212529;
        svg{
            color: $color-general;
        }
    }
    svg{
        color:#212529;
    }
}
