/** Index **/
.cabeza{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    @include flex(flex, center, center);
    div{
        nav{
            ul{
                li{
                    list-style: none;
                    a{
                        margin: 40px;
                        color: white;
                        text-decoration-line: none;
                    }
                }
            }
        }
    }
    img{
        width: 385px;
        height: 118px;
    }
}