/** Index **/
.cabeza{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    div{
        @include flex(flex, space-between, center);
        margin: 20px;
        nav{
            ul{
                li{
                    list-style: none;
                    a{
                        color: white;
                        text-decoration-line: none;
                        margin: 10px;
                    }
                }
            }
        }
    }
    img{
        width: 385px;
        height: 118px;
    }
}