/** Media Query Index **/ 
@media screen and (max-width:1255px) {
    .principal{
        flex-direction: column;
    }
}
@media screen and (max-width:1200px) {
    .texto{
        width: 936px;
    }
    
}

@media screen and (max-width:991px) {
    .texto{
        width: 696px;
    }
    footer{
        a{
            .pie{
                margin-top: 20px;
                margin-bottom: 10px;
            }
        }
    }
    
}

@media screen and (max-width:768px) {
    .texto{
        width: 516px;
    }
    
}
@media screen and (max-width:585px) {
    .cabeza{
        div{
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            margin-top: 10px;
            margin-left: 0px;
            nav{
                margin-top: 20px;
            }
            img{
                width: 320px;
                height: 98px;
                margin-right: 25px;
                margin: 0px;
            }
        }
    }
    .texto{
        margin-top: 25px;
        width: 100%;
        margin: 0px;
    }
}
@media screen and (max-width:400px) {
    .texto{
        h2{
            margin-top: 8px;
            font-size: 18px;
        }
        h3{
            font-size: 18px;
        }
    }
    .pie{
        margin-top: 15px;
    }
    
}

/** MediaQuerys - Eventos **/
@media screen and (max-width:1850px) {
    .imagenes{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width: 900px) {
    .imagenes{
        margin: 0px;
        padding: 20px;
        gap: 30px;
        .evento-1{
            a{
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .evento-2{
            a{
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .evento-3{
            a{
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .evento-4{
            a{
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    .pie-e{
        margin-top: 9px;
    }
}

/** Media Querys - Anto Nico **/
@media screen and (max-width:1200px) {
    .grid-galeria{
        grid-template-columns: repeat(2, 1fr);
    }
    
}
@media screen and (max-width: 768px) {
    .grid-galeria{
        grid-template-columns: repeat(1, 1fr);
    }
    
}

/** Media Querys - Fede Agus **/
@media screen and (max-width:1200px) {
    .grid-galeria-2{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width:768px) {
    .grid-galeria-2{
        grid-template-columns: repeat(1, 1fr);
    }
}

/** Media Querys - Federica **/
@media screen and (max-width:1400px) {
    .grid-galeria-3{
        grid-template-columns: repeat(2, 1fr);
        .img-1{
            grid-column: span 1;
            grid-row: span 1;
        }
    }
}
@media screen and (max-width:1050px) {
    .grid-galeria-3{
        grid-template-columns: repeat(1, 1fr);
        .img-6{
            grid-column: span 1;
            grid-row: span 1;
        }
    }
}

/** Media Queries - Ximena **/
@media screen and (max-width:1250px) {
    .grid-galeria-4{
        grid-template-columns: repeat(2, 1fr);
    }
    
}
@media screen and (max-width:768px) {
    .grid-galeria-4{
        grid-template-columns: repeat(1, 1fr);
    }    
}